.search-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
  font-family: Arial, sans-serif;
  text-align: center; /* Center-align the header and form */
}

.search-header {
  font-size: 40px; /* Larger font size for the header */
  margin-bottom: 30px; /* Increased margin below the header */
}

.search-form {
  display: grid;
  grid-template-columns: 1fr; /* Single column layout */
  gap: 20px; /* Increased gap between elements in the form */
  justify-items: center; /* Center everything horizontally */
}

.search-form input[type="text"] {
  width: 600px; /* Adjusted width for the search input */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-bottom: 30px;
}

.date-group {
  display: flex;
  gap: 20px; /* Increased gap between date inputs */
  justify-content: center; /* Center the date inputs */
}

.search-form input[type="date"] {
  width: 150px; /* Width for date inputs */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 30px;
}

.button-group {
  display: flex;
  gap: 20px; /* Increased gap between buttons */
  justify-content: center; /* Center the buttons */
}

.search-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
git branch -r
.search-form button.clear-btn {
  background-color: #6c757d; /* Gray for the clear button */
}
.checkbox-group{
 margin-bottom: 30px;
 gap:20px;
}